.pngegg-1-icon,
.pointing-left-icon {
  position: absolute;
  top: 560px;
  left: 936px;
  width: 576px;
  height: 422px;
  object-fit: cover;
}
.pointing-left-icon {
  top: 636px;
  left: 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.macbook-pro-14-1-child {
  position: absolute;
  top: 322px;
  left: 799px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.26);
  width: 713px;
  height: 306px;
  display: none;
}
.welcome-to-auto {
  color: #fff;
}
.x {
  color: red;
}
.welcome-to-autox {
  margin: 0;
}
.welcome-to-autox-container {
  position: absolute;
  top: 50px;
  left: 76px;
  font-size: 64px;
  display: inline-block;
  font-family: Inter;
  width: 1330px;
  height: 62px;
}
.macbook-pro-14-1-item {
  position: absolute;
  top: 321.5px;
  left: 755.5px;
  border-right: 1px solid #fff;
  box-sizing: border-box;
  width: 1px;
  height: 454px;
}
.x1 {
  color: #ff3838;
}
.introducing-autox {
  font-weight: 600;
}
.welcome-to-our {
  font-weight: 500;
}
.welcome-to-our-construction-pr {
  margin: 0;
  font-size: 24px;
}
.introducing-autox-procurement-container {
  position: absolute;
  top: 361px;
  left: 116px;
  display: inline-block;
  width: 625px;
}
.wwwautoxconstrunctionscom {
  position: absolute;
  top: 949px;
  left: 531px;
  font-size: 14px;
  font-weight: 600;
  color: #c2c2c2;
  text-align: left;
}
.macbook-pro-14-1-inner {
  position: absolute;
  top: 361px;
  left: 1037px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 274px;
  height: 87px;
}
.login {
  position: absolute;
  top: 384px;
  left: 1106px;
  font-weight: 600;
  color: #000;
  text-align: left;
  text-decoration: none;
}
.forget-password {
  position: absolute;
  top: 465px;
  left: 1094px;
  font-size: 20px;
  text-decoration: underline;
  font-family: Urbanist;
}
.user-1077114-1-icon {
  position: absolute;
  top: 384px;
  left: 1223px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.black-white-minimalist-busin-icon {
  position: absolute;
  top: 0;
  left: 491px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.macbook-pro-14-1 {
  background: linear-gradient(90deg, #64748b 7.81%, #1e293b);
  overflow: hidden;
}
.macbook-pro-14-1,
.macbook-pro-14-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 982px;
}
.div {
  position: relative;
  width: 100%;
  height: 982px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: "Source Code Pro";
}
